#burger {
  position: absolute;
  z-index: 2;
}

#burger:hover {
  cursor: pointer;
}

#burger.checked #title {
  opacity: 0.5;
}

#burger #title {
  font-weight: 400;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#burger span {
  display: none;
}

@media screen and (min-width: 480px) {
  #burger {
    top: 50px;
    left: 50px;
    width: 30px;
  }
  #burger span {
    display: block;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
    background: black;
    border-radius: 2px;
    -webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
    transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  }
  #burger.checked span:nth-child(1) {
    -webkit-transform: translateY(calc( 3px + 5px)) rotate(-225deg);
            transform: translateY(calc( 3px + 5px)) rotate(-225deg);
  }
  #burger.checked span:nth-child(3) {
    -webkit-transform: translateY(calc(calc( 3px + 5px) * -1)) rotate(45deg);
            transform: translateY(calc(calc( 3px + 5px) * -1)) rotate(45deg);
  }
  #burger.checked span:nth-child(2) {
    opacity: 0;
  }
  #burger #title {
    position: absolute;
    line-height: 30px;
    margin-top: 40px;
    height: 30px;
    -webkit-transform: rotate(270deg) translateX(-100%);
            transform: rotate(270deg) translateX(-100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  #burger {
    height: calc(50px * 1.5);
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  background: white;
}

#menu a {
  font-size: 15px;
  padding: 5px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  text-decoration: none;
  color: black;
}

#menu a:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 480px) {
  #menu {
    height: 100%;
    width: 200px;
    left: calc(calc(50px * 2) + 30px);
    border-left: 2px solid black;
  }
}

@media screen and (max-width: 480px) {
  #menu {
    height: calc(100% - calc(50px * 1.5));
    width: 100%;
    border-bottom: 2px solid black;
  }
}

#page {
  position: absolute;
  top: 0;
  padding: 46px;
  z-index: 1;
  width: 100%;
  background: white;
}

#page p {
  margin-top: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  word-wrap: normal;
}

#page h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

#page h2, #page h3, #page h4, #page h5, #page h6 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 480px) {
  #page {
    left: calc(calc(50px * 2) + 30px);
    border-left: 2px solid black;
    height: 100%;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
  }
  #page.closed {
    left: calc(200px + calc(calc(50px * 2) + 30px));
  }
  #page p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  #page {
    height: calc(100% - calc(50px * 1.5));
    border-bottom: 2px solid black;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  #page.closed {
    top: -100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: monospace;
  overflow-x: hidden;
}
/*# sourceMappingURL=index.css.map */