$burger-top: 50px;
$burger-left: 50px;
$burger-width: 30px;
$burger-line-width: 3px;
$burger-line-spacing: 5px;
$burger-line-radius: 2px;
$burger-bottom: 40px;
$burger-label-fonst-size: 20px;
$burger-label-opacity-to: 0.5;
$burger-transition-time-fast: 0.2s;
$burger-transition-curve: cubic-bezier(1, 0, 0, 1);
@import 'menu/burger';

$menu-font-size: 15px;
$menu-elem-spacing: 5px;
$menu-elem-opacity: 0.5;
$menu-transition-time: 0.2s;
$menu-height: 100%;
$menu-width: 200px;
$menu-left: calc(calc(#{$burger-left} * 2) + #{$burger-width});
$menu-line-width: 2px;
@import 'menu/menu';

$page-left: calc(calc(#{$burger-left} * 2) + #{$burger-width});
$page-top: 0;
$page-padding: 46px;
$page-line-width: 2px;
$page-p-spacing: 5px;
$page-transition-time: $burger-transition-time-fast;
@import 'page';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: monospace;
  overflow-x: hidden;
}
