$burger-top: 50px;
$burger-left: 50px;
$burger-width: 30px;
$burger-line-width: 3px;
$burger-line-spacing: 5px;
$burger-line-radius: 2px;
$burger-bottom: 40px;
$burger-label-fonst-size: 20px;
$burger-label-opacity-to: 0.5;

#burger {
  position: absolute;
  top: $burger-top;
  left: $burger-left;
  z-index: 2;
  width: $burger-width;
  width: min-content;

  &:hover {
    cursor: pointer;
  }

  span {
    display: block;
    height: $burger-line-width;
    width: $burger-width;
    margin-bottom: $burger-line-spacing;
    background: black;
    border-radius: $burger-line-radius;

    &:nth-child(2)::after {
      content: '';
      background: black;
      border-radius: $burger-line-radius;
      width: $burger-width;
      height: $burger-line-width;
      position: absolute;
      opacity: 0;
    }
  }

  &.checked {
    span {
      opacity: 0;
    }

    span:nth-child(2) {
      opacity: 1;
      transform: rotate(-45deg);

      &::after {
        transform: rotate(90deg);
        opacity: 1;
      }
    }

    #title {
      opacity: $burger-label-opacity-to;
    }
  }

  #title {
    position: absolute;
    line-height: $burger-width;
    margin-top: $burger-bottom;
    height: $burger-width;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    font-weight: 400;
    font-size: $burger-label-fonst-size;
    user-select: none;
    white-space: nowrap;
  }
}
