$index-font-size: 15px;
$index-elem-spacing: 5px;
$index-elem-opacity: 0.5;
$index-transition-time: 0.2s;

#index {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -100%;
  display: flex;
  flex-direction: column;

  &.checked {
    left: 0;
    label {
      opacity: $index-elem-opacity;
    }
  }

  label {
    font-size: $index-font-size;
    padding: $index-elem-spacing;
    transition: opacity $index-transition-time ease;
    opacity: 0;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
