#index {
  position: absolute;
  height: $index-height;
  width: $index-width;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background: white;
  left: $index-left;
  border-left: $index-line-width solid black;

  label {
    font-size: $index-font-size;
    padding: $index-elem-spacing;
    transition: opacity $index-transition-time ease;
    opacity: $index-elem-opacity;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
