#menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background: white;

  a {
    font-size: $menu-font-size;
    padding: $menu-elem-spacing;
    transition: opacity $menu-transition-time ease;
    opacity: $menu-elem-opacity;
    text-decoration: none;
    color: black;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 480px) {
  #menu {
    height: $menu-height;
    width: $menu-width;
    left: $menu-left;
    border-left: $menu-line-width solid black;
  }
}

@media screen and (max-width: 480px) {
  #menu {
    height: calc(100% - calc(#{$burger-top} * 1.5));
    width: 100%;
    border-bottom: $menu-line-width solid black;
  }
}
